@charset "UTF-8";
@font-face {
    font-family: Vazir;
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Bold.woff2') format('woff2'),
         url('Vazir-Bold.woff') format('woff'),
         url('Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Black.eot');
    src: url('Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Black.woff2') format('woff2'),
         url('Vazir-Black.woff') format('woff'),
         url('Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Light.eot');
    src: url('Vazir-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('Vazir-Thin.eot');
    src: url('Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Thin.woff2') format('woff2'),
         url('Vazir-Thin.woff') format('woff'),
         url('Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 150px;
  border: 6px solid rgba(0, 0, 0, 0.2);
  background: #636363;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

.img-fluid {
  width: 100%;
  display: block;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
    font-family: 'Vazir', sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapper {
  min-width: 350px;
  height: 550px;
  background-color: #ebebeb;
  color: #333;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.28);
}

.wrapper .bg-img {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
}

.wrapper .bg-img .cover {
  z-index: -1;
  content: '';
  top: 30px;
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.wrapper .volume {
  margin: 10px;
  width: 100%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .volume i {
  font-size: 1.2rem;
  cursor: pointer;
}

.wrapper .volume .progress {
  background-color: rgba(170, 170, 170, 0.5);
  width: 75%;
  height: 3px;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.wrapper .volume .progress .progressBar {
  z-index: -1;
  background-color: #333;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 35px 0;
  color: #fff;
}

.wrapper .details span {
  text-shadow: 1px ​1px 6px #000;
}

.wrapper .details span::first-letter {
  text-transform: uppercase;
}

.wrapper .details span:first-child {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.wrapper .details span:last-child {
  font-size: 1.3rem;
}

.wrapper .progress {
  width: 85%;
}

.wrapper .progress .progressBar {
  cursor: pointer;
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: #585858;
}

.wrapper .progress .progressBar span {
  content: '';
  width: 0%;
  background-color: #afafaf;
  height: 4px;
  display: block;
}

.wrapper .progress .time {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 20px;
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #717278;
}

.wrapper .controler {
  margin-top: 35px;
}

.wrapper .controler i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.3rem;
  padding: 20px;
  cursor: pointer;
}

.wrapper .controler i:first-child, .wrapper .controler i:last-child {
  color: #969696;
}

.wrapper .playlist {
  overflow-y: scroll;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 237px;
}

.wrapper .playlist .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #aaa;
}

.wrapper .playlist .item i {
  padding: 10px 20px;
}

.wrapper .playlist .item i.fa-music {
  cursor: pointer;
}

.wrapper .playlist .item .item-cover {
  margin: 10px 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.wrapper .playlist .item .item-cover img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.wrapper .playlist .item .info {
  text-align: right;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .playlist .item .info :first-child {
  font-size: 1rem;
  margin-bottom: 5px;
}

.wrapper .playlist .item .info :last-child {
  color: #bbb;
  font-size: 0.8rem;
}

.active {
  color: #333333 !important;
}
/*# sourceMappingURL=main.css.map */